awscli-local==0.21
boto3==1.28.67
botocore==1.31.67
certifi==2023.7.22
charset-normalizer==3.3.2
gitdb==4.0.10
GitPython==3.1.38
idna==3.4
jmespath==1.0.1
localstack-client==2.5
pip==23.3.1
pymsteams==0.2.2
python-dateutil==2.8.2
requests==2.31.0
s3transfer==0.7.0
setuptools==65.5.1
six==1.16.0
smmap==5.0.1
urllib3==2.0.7
